*.pyc
settings_local.py
.*.swp
static/
challenge.sqlite3

# ignore virtualenv
env/

# ignore production settings if they get in here
challenge/settings/prod.py

# ignore collected static files
collected_static/
