services:

  redis:
    image: redis:8-alpine
    volumes:
      - redis_data:/data
    command: redis-server --save 60 1 --loglevel warning
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
    restart: unless-stopped

  backend:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - ${BACKEND_PORT:-8000}:8000
    environment:
      DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
      SECRET_KEY: "${SECRET_KEY}"
      DJANGO_ENV: "${DJANGO_ENV}"

#  celery:
#    environment:
#        - DJANGO_SETTINGS_MODULE=challenge.settings.dev
#    build: .
#    command: celery -A challenge worker -l info
#    volumes:
#      - .:/code
#    depends_on:
#      - db
#      - redis
#  celery-beat:
#    environment:
#      - DJANGO_SETTINGS_MODULE=challenge.settings.dev
#    build: .
#    command: celery -A challenge beat -l info
#    volumes:
#      - .:/code
#    depends_on:
#      - db
#      - redis


volumes:
  postgres_data:
  redis_data:
