body
{
    color: #ebebeb;
    background-color: #2b3e50;
}

.container {
	padding-top: 50px;
}

.navbar-custom {
	background-color: #df691a;
}


.panel-minheight
{
	min-height: 70px;
}


.label-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem;
}
