{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />

{% block style %}
{# this block is for level specific css #}
{% endblock %}
{% endblock %}


{% block bootstrap3_content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="class navbar-brand" href="#">challenge</a>
		</div>
		<div class="collapse navbar-collapse">
			{% if user.is_authenticated %}
			<ul class="nav navbar-nav navbar-right">
				<li><a>{{user.username}}</a></li>
				{% if user.is_superuser %}
				<li><a href="{% url 'score' %}">{% trans "Score" %}</a></li>
				<li><a href="{% url 'attempts' %}">{% trans "Attempts" %}</a></li>
				<li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
				{% endif %}
				<li><a href="{% url 'logout_then_login' %}">{% trans "Log out" %}</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
</div>

<div class="container" id="content">
{% bootstrap_messages %}

{% block content %}
{% endblock %}

{% endblock %}
</div>
