<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
   <title>{% block title %}psychic challenge{% endblock %}</title>

	<link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css">
	{% block extrahead %}{% endblock %}
	{% block style %}{% endblock %}
</head>

<body>

<h1>{% block heading%}psychic challenge{% endblock %}</h1>

{% if user.is_authenticated %}
<div class="userinfo">
	{{user.username}} ({{user.first_name}} {{user.last_name}} &lt;{{user.email}}&gt;) &nbsp;  &nbsp; {% if user.is_superuser %} <a href="/admin/">Admin</a> - <a href="/stats/">Stats</a>  - {% endif %} <a href="{% url django.contrib.auth.views.logout_then_login %}">Logg ut</a>
</div>
{% endif %}


<hr class="line" />


<div class="content">
{% block content %}

{% endblock %}
</div>

</body>
</html>
