{% extends "core/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<center>
<h2>{% trans "Hello!" %}</h2>
<p>{% trans "Create an user or sign in!" %}</p>
</center>

<form method='POST' action="{% url 'login' %}">

{% bootstrap_form form %}

{% csrf_token %}

{% buttons %}
<button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
<a role="button" href="{% url 'register' %}" class="btn btn-warning">{% trans "Register user" %}</a>
{% endbuttons %}

</form>

{% endblock %}
