{% extends "core/base.html" %}
{% load i18n %}

{% block content %}


{% if form.errors %}
<div class="error">
	<p class="error">{% trans "Wrong username and/or password. Try again." %}</p>
</div>
{% endif %}
<center>
<h2>{% trans "Hello!" %}</h2>
<p>{% trans "Create an user or sign in!" %}</p>
</center>
<form method='POST' action="{% url 'django.contrib.auth.views.login' %}">

	{% csrf_token %}

	<input type='hidden' name='next' value='{{next}}' />

	<table class='login'>
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
		<tr>
			<td colspan=2>
				<input type="submit" class="width_submit" value="{% trans "Log in" %}" />
</form>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<form method='GET' action="{% url 'challenge.core.views.register' %}">
				<input type="submit" class="width_submit" value="{% trans "Register user" %}" />
				</form>
			</td>
		</tr>
	</table>


{% endblock %}
