{% extends 'django_bootstrap5/bootstrap5.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% block bootstrap5_title %}challenge{% endblock %}
{% block bootstrap5_extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    {% block style %}{# this block is for level specific css #}{% endblock %}
    {% block extrahead %}
        {# this block is for template specific head, like meta refresh or some other hacks#}
    {% endblock %}
{% endblock %}
{% block bootstrap5_content %}
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">challenge</a>
            {% if user.is_authenticated %}
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar"
                        aria-controls="navbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ms-auto">
                        <li>
                            <a class="nav-link">{{ user.username }} <span class="badge bg-success rounded-pill">{{ user.userprofile.score }}</span></a>
                        </li>
                        {% if user.is_superuser %}
                            <li>
                                <a class="nav-link" href="{% url 'score' %}">{% trans "Score" %}</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'attempts' %}">{% trans "Attempts" %}</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <form method="post" action="{% url 'logout_then_login' %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit"
                                        class="btn btn-link nav-link text-decoration-none p-0 m-0 border-0 bg-transparent">
                                    {% trans "Log out" %}
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            {% endif %}
        </div>
    </nav>
    <div class="container pt-5 mt-4" id="content">
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
    {% endblock %}
</div>
