{% extends "core/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

<center>
<h2>{% trans "Hello!" %}</h2>
<p>{% trans "Create an user or sign in!" %}</p>
</center>

<form method='POST' action="{% url 'login' %}">

{% bootstrap_form form %}

{% csrf_token %}

{% trans "Log in" as login_content %}
{% bootstrap_button button_type="submit" content=login_content %}
{% url 'register' as register_link %}
{% trans "Register user" as register_content %}
{% bootstrap_button button_type="link" content=register_content href=register_link button_class="btn-warning" %}

</form>

{% endblock %}
