{% extends "core/base4.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h2>{% trans "Hello!" %}</h2>
            <p>{% trans "Create an user or sign in!" %}</p>
            <form method='POST' action="{% url 'login' %}">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                <a role="button" href="{% url 'register' %}" class="btn btn-warning">{% trans "Register user" %}</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
