{% extends "core/base.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block style %}
{% if level.css %}
<style>{{level.css}}</style>
{% endif %}
{% endblock %}

{% block content %}

<center>

<h2>{{level.name}}</h2>


<p>{% autoescape off %}{{level.question}}{% endautoescape %}</p>

{% if level.sourcehint %}
<!-- {{level.sourcehint}}  -->
{% endif %}

{% if level.imageurl %}
<img src="{{level.imageurl}}" />
{% endif %}

<div class="well">

<form action="{% url 'level' level.pk %}" method="POST">
{% bootstrap_form form %}

{% buttons %}
{% if level.buttontext %}
<button type="submit" class="btn btn-primary">{{ level.buttontext }}</button>
{% else %}
<button type="submit" class="btn btn-primary">{% trans "Feeling lucky? ;-)"%}</button>
{% endif %}
{% endbuttons %}
</form>

</div>

</center>
<script type="text/javascript" language="JavaScript">
    var attempts = {{attempts}};
    {# The first element in the first form will always be the correct input #}
    document.forms[0].elements[0].focus();
    {% if level.javascript %}
    {{level.javascript|safe}}
    {% endif %}
</script>
{% endblock %}
