{% extends "core/base.html" %}
{% load i18n %}

{% block extrahead %}
	<meta http-equiv="refresh" content="1" />
{% endblock %}

{% block content %}

<center>

<h2>{{getnum}} {% trans "last attempts" %}</h2>

<table class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>{% trans "User" %}</th>
		<th>{% trans "Time" %}</th>
		<th>{% trans "Level" %}</th>
		<th>{% trans "Answer" %}</th>
		<th>{% trans "Correct?" %}</th>
	</tr>
	</thead>
	<tbody>
	{% for a in attempts %}
	<tr>
		<td>{{a.user.username}} ({{s.user.first_name}} {{s.user.last_name}})</td>
		<td>{{a.time|date:'d.m.Y H:i:s'}}</td>
		<td>{{a.level}}</td>
		<td>{{a.answer}}</td>
		<td>{{a.correct|yesno}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>


</center>
{% endblock %}
