{% extends "core/base.html" %}
{% load i18n %}

{% block extrahead %}
	<meta http-equiv="refresh" content="5" />
{% endblock %}

{% block content %}

<center>

<h2>{% trans "Score" %}</h2>

<table>
	<tr>
		<th>{% trans "User" %}</th>
		<th>{% trans "Completed level" %}</th>
		<th>{% trans "Time" %}</th>
	</tr>
	{% for s in score %}
	<tr>
		<td>{{s.user.username}} ({{s.user.first_name}} {{s.user.last_name}})</td>
		<td>{{s.max_level}}</td>
		<td>{{s.updated|date:'d.m.Y H:i:s'}}</td>
	</tr>
	{% endfor %}
</table>


</center>
{% endblock %}
